<br>
<br>
<br>
<br>
<% instance.attributes.each do |key, value| %>
  <% if check_exception(key, instance) %>
    <%= render partial: 'forms/form_groups', locals: {key: key, value: value, instance: instance, f: f} %>
  <% end %>
  <br>
<% end %>
<div>
  <%= f.submit %>
</div>
