<%= form_for instance do |f| %>
  <% instance.attributes.each do |key, value| %>
    <% if instance.class.check_exception(key) %>
      <%= render partial: 'forms/form_groups', locals: {key: key, value: value, instance: instance, f: f} %>
      <br>
    <% end %>
  <% end %>
  <div>
    <%= f.submit %>
  </div>
<% end %>